<div id="about">
  <div class="left">
    <img src="/assets/images/about.jpg">
  </div>
  <div class="right">
    <h2>Welcome to the Sunny Palms Inn! </h2>
    <p>We are located just 2 blocks from the Intracoastal Waterway, just across the lagoon from the beautiful Palm Beaches. Our hotel offers guests direct TV, fridge and microwaves, 32" flat screen TVs and complementary wifi, parking, and no resort
      fees. Onsite you will find a resort-style pool with plenty of lounge chairs for sunbathing, plus beautifully manicured grounds. We offer rooms with king beds or double full beds, or you may prefer to book our apartment-suite, which comes with
      a full kitchen, dining room, living room and separate bedroom. </p>
  </div>
</div>
