<header id="header">
  <div class="container">
    <h1 class="branding">
      <a href="{{ site.baseurl }}/#top" title="Home" rel="home" class="current">
        <img src="{{ site.baseurl }}/assets/images/logo.jpg" alt="Sunny Palms Inn" width="330" /> 
      </a>
    </h1>
    <a href="#" class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <nav id="main-menu">
      <ul class="menu">
        <li><a href="/#about" title="" class="active">About</a></li>
        <li><a href="/#gallery" title="" class="active">Photos</a></li>
        <li><a href="/#rooms" title="" class="active">Rooms</a></li>
        <li><a href="/#contact" title="" class="active">Contact</a></li>
        <li>
          <a href="{{ site.baseurl }}/booking" class="btn btn-sm btn-secondary"> Book Your Stay </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
