<div id="jumbotron">
  <div>
    <h2>Join us for your next
      <big class="typer"></big>
    </h2>
    <div class="actions">
      <!-- <a href="/#gallery" class="button current">View Photos</a>  -->
      <a href="https://reservations.verticalbooking.com/reservations/index.html?id_stile=15328&headvar=ok&lingua_int=usa&id_albergo=20468&dc=2354" class="btn btn-lg btn-primary">
        Book Now <img src="./assets/icons/arrow-right.svg" width="11" />
      </a>
    </div>
  </div>
  <ul class="perks">
    <li><img src="./assets/icons/no-resort-fees.svg" width="32"/> NO Resort Fees</li>
    <li><img src="./assets/icons/wifi.svg" width="32"/>Complimentary Wifi</li>
    <li><img src="./assets/icons/parking.svg" width="32"/>Free Parking</li>
  </ul>
</div>
