#header {
  min-width: 320px;
  position: fixed;
  z-index: 999;
  right: 0;
  left: 0;
  top: 0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
}

#header .container {
  height: 72px;
  max-width: 1216px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin: 0 auto;
}

#header .branding {
  font-size: 24px;
  margin: 0;
  line-height: 1;

  a {
    text-decoration: none;
    color: #3D474D;
  }
}

#header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#header nav li {
  font-size: 13px;
  line-height: 1;
  margin-left: 15px;
  text-align: center;
  display: inline-block;
}

#header nav li:first-child {
  margin-left: 0;
}

#header nav a {
  display: block;
  text-decoration: none;
  color: #3D474D;
  font-weight: 600;
}

#header nav a.current {
  // color: #E6177A;
  border-bottom: 1px solid;
}
/* Mobile Menu */
@media (min-width:48em) {
  .menu-toggle {
    display: none;
  }

  #header nav li {
    margin-left: 32px;
  }

  #header .container {
    height: 88px;
    padding: 0 48px;
  }

  #header .branding {
    font-size: 28px;
  }
}
@media (max-width:47.99em) {
  .menu-toggle {
    font-size: 28px;
  }

  #main-menu {
    height: 100vh;
    background-color: #F7F9FA;
    top: 100%;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    box-shadow: none;
    transition: top 0.5s ease;
    display: block;
  }

  .main-menu-open {
    overflow: hidden;
  }

  .main-menu-open #main-menu {
    top: 72px;
  }

  #main-menu ul {
    margin: 0;
  }

  #main-menu li {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0 !important;
    clear: both;
    list-style: none;
  }

  #main-menu li a {
    font-size: 12px;
    font-weight: 600;
    display: block;
    margin-top: -1px;
    padding: 20px !important;
    color: #212121;
    background-color: #F7F9FA;
    border-radius: 0;
    position: relative;
    text-align: left;
    box-shadow: none;
  }

  #main-menu li a:after {
    content: "\f105";
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 20px;
    font-size: 16px;
    line-height: 0;
    top: 50%;
  }
}
