.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px,0px,0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-buttons div,
.owl-controls .owl-page {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

.owl-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.owl-next,
.owl-prev {
  text-indent: -999em;
  height: 42px;
  width: 24px;
}

.owl-prev {
  background: url("../icons/chevron-left.svg") center / contain no-repeat;
  
}

.owl-next {
  background: url("../icons/chevron-right.svg") center / contain no-repeat;
}

.owl-pagination {
  display: none;
}

.owl-pagination {
  text-align: center;
}

.owl-pagination .owl-page {
  display: inline-block;
  zoom: 1;
}

.owl-pagination .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 16px 8px 0;
  border: 0;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.owl-pagination .owl-page:hover span {
  background-color: #e0e0e0;
}

.owl-pagination .owl-page.active span {
  border-color: #E6177A;
  background-color: #E6177A;
}
